// Color
//material ui palettes
@blue-600: #2196f3;
@teal-600: #00897b;
@teal-800: #00695c;
@red-600: #e53935;
@yellow-600: #fdd835;
@green-600: #43a047;
@grey-200: #eeeeee;
@grey-400: #9e9e9e;
@grey-900: #212121;
@white: #fff;

//Theme
@primary: @blue-600;
@secondary: @teal-600;
@error: @red-600;
@warning: @yellow-600;
@success: @green-600;

@app-background-color: @grey-200;
@app-color: @grey-900;

//Typography
@font-main: "Noto Sans", sans-serif;
@font-normal: 400;
@font-bold: 700;

//Font-size
@font-size-root: 18px;
@font-size-base: 1rem;
@font-size-sm: 0.8rem;
@font-size-lg: 1.5rem;
@font-size-xl: 2rem;

@view-port: 1980px;

//grid
@grid-columns: 12;
@grid-gutter-width: 2rem;
@container-padding-x: @grid-gutter-width / 2;

//Spacing
@spacer: 1rem;
@spacer-0: 0;
@spacer-1: @spacer / 4;
@spacer-2: @spacer / 2;
@spacer-3: @spacer;
@spacer-4: @spacer * 1.5;
@spacer-5: @spacer * 3;

